# ===== Supabase =====
SUPABASE_URL=https://rlwshuurruvtnqwgbjkl.supabase.co
SUPABASE_KEY=your_supabase_anon_key_here

# ===== JWT Secret (غير هاذ القيمة بـ secret قوي) =====
JWT_SECRET=papaya_juice_super_secret_2026

# ===== Admin credentials =====
ADMIN_USER=sbaiy
ADMIN_PASS=2030

# ===== Server =====
PORT=3000
FRONTEND_URL=http://127.0.0.1:5500
